body { 
    margin: 0; 
    background-color: #302c34;
    min-height: 100vh;
  }
  
  .root {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .computerContainer {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #b9ab84;
    border-radius: 24px 24px 0 0;
  }
  
  .bottomDecor {
    display: flex;
    justify-content: flex-end;
  }
  
  .bottomButton {
    height: 40px;
    width: 10px;
    flex: 0 0 100px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #222;
    position: relative;
  }
  .bottomButton::after {
    content: '';
    height: 75%;
    right: 3px;
    background-color: #222;
    width: 25px;
    position: absolute;
    margin: 4px 4px;
    border-radius: 4px;
  }
  
  .screenContainer {
    flex: 0 0 63%;
    border-radius: 20px 20px 0 0;
    background: #cfc19a;
    padding: 25px;
  }
  
  .screenFrame {
    height: 100%;
    background-color: #b9ab84;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px;
  }
  
  .screen {
    background-color: #222;
    height: 90%;
    width: 90%;
    margin: 18px 0;
    border-radius: 235px / 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bodyDecor {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #cfc19a;
    border-radius: 0 0 24px 24px;
    padding: 10px 30px;
  }
  
  .floppyDriveContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .logoContainer {
    flex: 1;
  }
  
  .floppyDrive {
    position: relative;
    margin-bottom: 35px;
  }
  
  .floppySlot {
    height: 8px;
    width: 208px;
    background-color: #222;
    position: absolute;
    right: 29px;
  }
  .floppyShade {
    height: 45px;
    width: 119px;
    background-color: #b9ab84;
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 3px;
  }
  .floppyShadeDarker {
    height: 37px;
    width: 101px;
    background-color: #988b73;
    position: absolute;
    top: -16px;
    right: 11px;
    border-radius: 4px;
  }
  
  .logo {
    border: 1px solid #222;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-size: 159%;
    background-position: 46% 41%;
    background-image: url(https://i.imgur.com/B5eWZ33.png)
  }
  
  .terminal {
    height: 245px;
    flex: 0 0 95%;
    overflow-y: auto;
    font-size: 12px;
  }
  .terminal::-webkit-scrollbar {
      width: 8px;
  }
  .terminal::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .terminal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00fe00;
  }
  
  .currentLine {
    margin: 0 10px;
    line-height: 1.2;
    display: flex;
  }
  
  .prompt {
    color: #00fe00;
    font-family: monospace;
    line-height: 1.2;
    margin-right: 5px
  }
  
  .inputContainer {
    flex: 1
  }
  
  .input {
    border: none;
    padding: 0;
    margin: 0;
    background: #222;
    color: #00fe00;
    width: 99%;
    font-family: monospace;
    font-size: 12px;
    margin-left: 2px;
  }
  .input:focus {
    outline: 0;
  }
  
  .output {
    color: #00fe00;
    font-family: monospace;
    margin: 0;
    line-height: 1.2;
    word-break: break-all;
    white-space: pre-wrap;
  }
  
  .outputContainer {
    margin: 0 10px;
  }
